@font-face {
    font-family: "Avenir LT";
    font-weight: 200;
    src: url("https://cdn.staticsfly.com/css/fonts/3511a780-31ca-4ee1-9083-89b1b7185748.eot?iefix");
    src: local('Avenir LT W01 35 Light'),
    url("https://cdn.staticsfly.com/css/fonts/c4352a95-7a41-48c1-83ce-d8ffd2a3b118.woff") format("woff"),
    url("https://cdn.staticsfly.com/css/fonts/3e419b5b-c789-488d-84cf-a64009cc308e.ttf") format("truetype"),
    url("https://cdn.staticsfly.com/css/fonts/ca038835-1be3-4dc5-ba25-be1df6121499.svg#ca038835-1be3-4dc5-ba25-be1df6121499") format("svg");
    *src: url("https://cdn.staticsfly.com/css/fonts/3511a780-31ca-4ee1-9083-89b1b7185748.eot?iefix") format('eot');
}

@font-face {
    font-family: "Avenir LT";
    font-weight: 300;
    src: url("https://cdn.staticsfly.com/css/fonts/4f32268f-fd86-4960-b72c-4bb1ba75ec6f.eot?iefix");
    src: local('Avenir LT W01 45 Book'),
    url("https://cdn.staticsfly.com/css/fonts/939cba03-5b40-4d01-9bc5-7589eca863db.woff") format("woff"),
    url("https://cdn.staticsfly.com/css/fonts/849bc5b9-a2ff-4343-977b-26ba8bd24a60.ttf") format("truetype"),
    url("https://cdn.staticsfly.com/css/fonts/f67fa3b5-c1d1-488f-8e60-a828b9ad56a4.svg#f67fa3b5-c1d1-488f-8e60-a828b9ad56a4") format("svg");
    *src: url("https://cdn.staticsfly.com/css/fonts/4f32268f-fd86-4960-b72c-4bb1ba75ec6f.eot?iefix") format('eot');
}

@font-face {
    font-family: "Avenir LT";
    font-weight: 400;
    src: url("https://cdn.staticsfly.com/css/fonts/2f5a6074-badc-4e08-83f1-ed67fe5c3d7c.eot?iefix");
    src: local('Avenir LT W01 55 Roman'),
    url("https://cdn.staticsfly.com/css/fonts/b9ebb19d-88c1-4cbd-9baf-cf51972422ec.woff") format("woff"),
    url("https://cdn.staticsfly.com/css/fonts/5ed4f98e-9044-4810-88ff-74d412c1351f.ttf") format("truetype"),
    url("https://cdn.staticsflstaticsfly.com/css/fonts/4cb16859-16ca-4342-b89c-292dc83266af.svg#4cb16859-16ca-4342-b89c-292dc83266af") format("svg");
    *src: url("https://cdn.staticsfly.com/css/fonts/2f5a6074-badc-4e08-83f1-ed67fe5c3d7c.eot?iefix") format('eot');
}

@font-face {
    font-family: "Avenir LT";
    font-weight: 600;
    src: url("https://cdn.staticsfly.com/css/fonts/212ab03d-5db2-4d6a-b94c-171cc702aa51.eot?iefix");
    src: local('Avenir LT W01 65 Medium'),
    url("https://cdn.staticsfly.com/css/fonts/2cac77ec-9bc0-4ee7-87e4-27650190744f.woff") format("woff"),
    url("https://cdn.staticsfly.com/css/fonts/aaf11848-aac2-4d09-9a9c-aac5ff7b8ff4.ttf") format("truetype"),
    url("https://cdn.staticsfly.com/css/fonts/294099f3-8d00-4676-afc5-5e9d8d43ad69.svg#294099f3-8d00-4676-afc5-5e9d8d43ad69") format("svg");
    *src: url("https://cdn.staticsfly.com/css/fonts/212ab03d-5db2-4d6a-b94c-171cc702aa51.eot?iefix") format("eot");
}

@font-face {
    font-family: "Avenir LT";
    font-weight: 700;
    src: url("https://cdn.staticsfly.com/css/fonts/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?iefix");
    src: local('Avenir LT W01 85 Heavy'),
    url("https://cdn.staticsfly.com/css/fonts/7147ec3a-8ff8-4ec9-8c5c-bd1571dc6ae6.woff") format("woff"),
    url("https://cdn.staticsfly.com/css/fonts/d1dc54b2-878d-4693-8d6e-b442e99fef68.ttf") format("truetype"),
    url("https://cdn.staticsfly.com/css/fonts/731dd4d3-64da-427d-ba61-01575b3cf3f7.svg#731dd4d3-64da-427d-ba61-01575b3cf3f7") format("svg");
    *src: url("https://cdn.staticsfly.com/css/fonts/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?iefix") format('eot');
}

@font-face {
    font-family: "Avenir LT";
    font-weight: 800;
    src: url("https://cdn.staticsfly.com/css/fonts/a24b3f55-c8c8-41a1-a77e-7cdf417d82f6.eot?iefix");
    src: local('Avenir LT W01 95 Black'),
    url("https://cdn.staticsfly.com/css/fonts/5a05cf7f-f332-456f-ae67-d8c26e0d35b3.woff") format("woff"),
    url("https://cdn.staticsfly.com/css/fonts/c33278bc-988e-440b-b4be-6acc095e6044.ttf") format("truetype"),
    url("https://cdn.staticsfly.com/css/fonts/7bdad4a5-289b-42f9-b6fa-c5883b9e9f23.svg#7bdad4a5-289b-42f9-b6fa-c5883b9e9f23") format("svg");
    *src: url("https://cdn.staticsfly.com/css/fonts/a24b3f55-c8c8-41a1-a77e-7cdf417d82f6.eot?iefix") format('eot');
}


@font-face {
    font-family: "Avenir LT W01 35 Light";
    src: url("https://cdn.staticsfly.com/css/fonts/3511a780-31ca-4ee1-9083-89b1b7185748.eot?iefix");
    src: local('Avenir LT W01 35 Light'),
            url("https://cdn.staticsfly.com/css/fonts/c4352a95-7a41-48c1-83ce-d8ffd2a3b118.woff") format("woff"),
            url("https://cdn.staticsfly.com/css/fonts/3e419b5b-c789-488d-84cf-a64009cc308e.ttf") format("truetype"),
            url("https://cdn.staticsfly.com/css/fonts/ca038835-1be3-4dc5-ba25-be1df6121499.svg#ca038835-1be3-4dc5-ba25-be1df6121499") format("svg");
    *src: url("https://cdn.staticsfly.com/css/fonts/3511a780-31ca-4ee1-9083-89b1b7185748.eot?iefix") format('eot');
}

@font-face {
    font-family: "Avenir LT W01 45 Book";
    src: url("https://cdn.staticsfly.com/css/fonts/4f32268f-fd86-4960-b72c-4bb1ba75ec6f.eot?iefix");
    src: local('Avenir LT W01 45 Book'),
            url("https://cdn.staticsfly.com/css/fonts/939cba03-5b40-4d01-9bc5-7589eca863db.woff") format("woff"),
            url("https://cdn.staticsfly.com/css/fonts/849bc5b9-a2ff-4343-977b-26ba8bd24a60.ttf") format("truetype"),
            url("https://cdn.staticsfly.com/css/fonts/f67fa3b5-c1d1-488f-8e60-a828b9ad56a4.svg#f67fa3b5-c1d1-488f-8e60-a828b9ad56a4") format("svg");
    *src: url("https://cdn.staticsfly.com/css/fonts/4f32268f-fd86-4960-b72c-4bb1ba75ec6f.eot?iefix") format('eot');
}

@font-face {
    font-family: "Avenir LT W01 55 Roman";
    src: url("https://cdn.staticsfly.com/css/fonts/2f5a6074-badc-4e08-83f1-ed67fe5c3d7c.eot?iefix");
    src: local('Avenir LT W01 55 Roman'),
            url("https://cdn.staticsfly.com/css/fonts/b9ebb19d-88c1-4cbd-9baf-cf51972422ec.woff") format("woff"),
            url("https://cdn.staticsfly.com/css/fonts/5ed4f98e-9044-4810-88ff-74d412c1351f.ttf") format("truetype"),
            url("https://cdn.staticsfly.com/css/fonts/4cb16859-16ca-4342-b89c-292dc83266af.svg#4cb16859-16ca-4342-b89c-292dc83266af") format("svg");
    *src: url("https://cdn.staticsfly.com/css/fonts/2f5a6074-badc-4e08-83f1-ed67fe5c3d7c.eot?iefix") format('eot');
}

@font-face {
    font-family: "Avenir LT W01 65 Medium";
    src: url("https://cdn.staticsfly.com/css/fonts/212ab03d-5db2-4d6a-b94c-171cc702aa51.eot?iefix");
    src: local('Avenir LT W01 65 Medium'),
    url("https://cdn.staticsfly.com/css/fonts/2cac77ec-9bc0-4ee7-87e4-27650190744f.woff") format("woff"),
    url("https://cdn.staticsfly.com/css/fonts/aaf11848-aac2-4d09-9a9c-aac5ff7b8ff4.ttf") format("truetype"),
    url("https://cdn.staticsfly.com/css/fonts/294099f3-8d00-4676-afc5-5e9d8d43ad69.svg#294099f3-8d00-4676-afc5-5e9d8d43ad69") format("svg");
    *src: url("https://cdn.staticsfly.com/css/fonts/212ab03d-5db2-4d6a-b94c-171cc702aa51.eot?iefix") format("eot");
}

@font-face {
    font-family: "Avenir LT W01 85 Heavy";
    src: url("https://cdn.staticsfly.com/css/fonts/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?iefix");
    src: local('Avenir LT W01 85 Heavy'),
            url("https://cdn.staticsfly.com/css/fonts/7147ec3a-8ff8-4ec9-8c5c-bd1571dc6ae6.woff") format("woff"),
            url("https://cdn.staticsfly.com/css/fonts/d1dc54b2-878d-4693-8d6e-b442e99fef68.ttf") format("truetype"),
            url("https://cdn.staticsfly.com/css/fonts/731dd4d3-64da-427d-ba61-01575b3cf3f7.svg#731dd4d3-64da-427d-ba61-01575b3cf3f7") format("svg");
    *src: url("https://cdn.staticsfly.com/css/fonts/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?iefix") format('eot');
}

@font-face {
    font-family: "Avenir LT W01 95 Black";
    src: url("https://cdn.staticsfly.com/css/fonts/a24b3f55-c8c8-41a1-a77e-7cdf417d82f6.eot?iefix");
    src: local('Avenir LT W01 95 Black'),
            url("https://cdn.staticsfly.com/css/fonts/5a05cf7f-f332-456f-ae67-d8c26e0d35b3.woff") format("woff"),
            url("https://cdn.staticsfly.com/css/fonts/c33278bc-988e-440b-b4be-6acc095e6044.ttf") format("truetype"),
            url("https://cdn.staticsfly.com/css/fonts/7bdad4a5-289b-42f9-b6fa-c5883b9e9f23.svg#7bdad4a5-289b-42f9-b6fa-c5883b9e9f23") format("svg");
    *src: url("https://cdn.staticsfly.com/css/fonts/a24b3f55-c8c8-41a1-a77e-7cdf417d82f6.eot?iefix") format('eot');
}


.avenir35Light {
    font-family: "Avenir LT W01 35 Light", Verdana, Arial, sans-serif;
}

.avenir45Book {
    font-family: "Avenir LT W01 45 Book", Verdana, Arial, sans-serif;
}

.avenir55Roman {
    font-family: "Avenir LT W01 55 Roman", Verdana, Arial, sans-serif;
}

.avenir65Medium {
    font-family: "Avenir LT W01 65 Medium", Verdana, Arial, sans-serif;
}

.avenir85Heavy {
    font-family: "Avenir LT W01 85 Heavy", Verdana, Arial, sans-serif;
}

.avenir95Black {
    font-family: "Avenir LT W01 95 Black", Verdana, Arial, sans-serif;
}


.sfly-share {
  /* Click blocker */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.sfly-share * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Avenir LT', Verdana, Arial, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.sfly-share:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.sfly-share p {
  margin-bottom: 20px;
  font-size: 13px;
}

.sfly-share [contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}


.sfly-share .sfly-share-modal {
  /* Mobile first */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #58595b;
  overflow: hidden;
  /* Larger screens */
}

@media (min-width: 768px) {
  .sfly-share .sfly-share-modal {
    width: 400px;
    height: 500px;
    border-radius: 6px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  }
}


.sfly-share .sfly-share-header {
  flex-basis: 93px;
  flex-grow: 0;
  flex-shrink: 0;
  width: auto;
  height: 93px;
  margin: 0 32px;
  line-height: 93px;
  font-size: 23px;
  color: #58595b;
}

.sfly-share .sfly-share-header .sfly-share-header-back {
  position: absolute;
  top: 26px;
  left: 5px;
  width: 12px;
  height: 15px;
  padding: 20px 20px 20px 10px;
  cursor: pointer;
  z-index: 1;
}

.sfly-share .sfly-share-header .sfly-share-header-back:before {
  content: '';
  position: relative;
  display: block;
  top: -8px;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  border-left: 2px solid #58595b;
  border-bottom: 2px solid #58595b;
}

.sfly-share .sfly-share-header .sfly-share-header-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 22px;
  height: 22px;
  font-size: 28px;
  line-height: 20px;
  text-align: center;
  color: #58595b;
  cursor: pointer;
}

/* Touch specific styles */

.sfly-share .sfly-share-modal.touch .sfly-share-header .sfly-share-header-back {
  padding-right: 50px;
}


.sfly-share .sfly-share-content {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  width: auto;
  overflow: auto;
}

.sfly-share .sfly-share-content > div {
  padding: 0 32px;
}


.sfly-share .sfly-share-footer {
  /* Mobile first */
  flex-basis: 68px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  justify-items: flex-end;
  width: auto;
  height: 68px;
  padding: 0 16px;
  background-color: #f9fafc;
  box-shadow: inset 0 1px 0 0 #dcdee1;
  /* Larger screen */
}

@media (min-width: 768px) {
  .sfly-share .sfly-share-footer {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}


.sfly-share-addressbook .sfly-share-addressbook-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-items: center;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #dcdee1;
}

.sfly-share-addressbook .sfly-share-addressbook-content .sfly-share-addressbook-checkbox {
  flex-grow: 0;
  flex-shrink: 0;
}

.sfly-share-addressbook .sfly-share-addressbook-content .sfly-share-addressbook-checkbox input[type='checkbox'] {
  visibility: hidden;
  float: left;
}

.sfly-share-addressbook .sfly-share-addressbook-content .sfly-share-addressbook-checkbox label {
  display: block;
  position: relative;
  width: 22px;
  height: 22px;
  border: 1px solid #dcdee1;
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
}

.sfly-share-addressbook .sfly-share-addressbook-content .sfly-share-addressbook-checkbox label:before,
.sfly-share-addressbook .sfly-share-addressbook-content .sfly-share-addressbook-checkbox label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 10px;
  width: 2px;
  height: 10px;
  background-color: #fff;
  transform: rotate(45deg);
}

.sfly-share-addressbook .sfly-share-addressbook-content .sfly-share-addressbook-checkbox label:after {
  top: 10px;
  left: 6px;
  height: 4px;
  transform: rotate(-45deg);
}

.sfly-share-addressbook .sfly-share-addressbook-content .sfly-share-addressbook-checkbox input[type='checkbox']:checked + label {
  background-color: #f05323;
  border-color: #f05323;
}

.sfly-share-addressbook .sfly-share-addressbook-content .sfly-share-addressbook-contact-info {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;
  justify-items: center;
  margin-left: 30px;
}

.sfly-share-addressbook .sfly-share-addressbook-content .sfly-share-addressbook-contact-info .sfly-share-addressbook-contact-info-name {
  color: #58595b;
  font-size: 16px;
  line-height: 22px;
}

.sfly-share-addressbook .sfly-share-addressbook-content .sfly-share-addressbook-contact-info .sfly-share-addressbook-contact-info-email {
  color: #929497;
  font-size: 13px;
  line-height: 19px;
}


.sfly-share .sfly-share-link-content {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: nowrap;
  height: 100%;
}

.sfly-share .sfly-share-link-content .sfly-share-album-header {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

.sfly-share .sfly-share-link-content .sfly-share-album-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 6px;
  font-size: 13px;
  line-height: 18px;
}

.sfly-share .sfly-share-link-content .sfly-share-album-content.sfly-share-link {
  cursor: pointer;
}


.sfly-share .sfly-share-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

.sfly-share .sfly-share-spinner .sfly-share-icon-spinner {
  background-image: url(../img/sprites-3d5463821e-png);
  background-position: -142px 0px;
  background-size: 213px 142px;
  animation: infinite-spinner 2s linear infinite;
  width: 71px;
  height: 71px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .sfly-share .sfly-share-spinner .sfly-share-icon-spinner {
    background-image: url(../img/sprites-3d5463821e-png);
    background-position: 0px 0px;
    background-size: 213px 142px;
    width: 142px;
    height: 142px;
  }
}

@keyframes infinite-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.sfly-share .sfly-share-email {
  position: relative;
}

.sfly-share .sfly-share-email .sfly-share-email-ab-link {
  color: #1aaeba;
  font-size: 13px;
  font-weight: normal;
  text-align: right;
  cursor: pointer;
}

.sfly-share .sfly-share-email .sfly-share-email-to {
  position: relative;
  margin-bottom: 40px;
}

.sfly-share .sfly-share-email .sfly-share-email-header {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

.sfly-share .sfly-share-email .sfly-share-email-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 2px;
  border-bottom: 1px solid #dcdee1;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
}

.sfly-share .sfly-share-email .sfly-share-email-content .sfly-share-email-label {
  flex-grow: 0;
  margin: 0 10px 4px 0;
  font-size: inherit;
  line-height: 24px;
}

.sfly-share .sfly-share-email .sfly-share-email-content .sfly-share-email-input {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sfly-share .sfly-share-email .sfly-share-email-content input[type='text'] {
  flex-basis: 100px;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0px 0px 4px 0px;
  padding: 0px;
  width: auto;
  height: inherit;
  min-width: 100px;
  border: none;
  outline: none;
  font-size: inherit;
  line-height: 24px;
  box-shadow: none;
  -webkit-user-select: text;
}

.sfly-share .sfly-share-email .sfly-share-email-content input[type='text']::placeholder {
  color: #929497;
}


.sfly-share .sfly-share-email .sfly-share-recipient {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 22px;
  margin: 0 10px 6px 0;
  padding: 0 10px;
  background-color: #fff;
  border: 1px solid #58595b;
  border-radius: 16px;
  color: #58595b;
  line-height: 22px;
}

.sfly-share .sfly-share-email .sfly-share-recipient .sfly-share-recipient-remove {
  margin-left: 8px;
  color: #dcdee1;
}

@media (hover: hover) {
  .sfly-share .sfly-share-email .sfly-share-recipient:hover {
    background-color: #58595b;
    color: #fff;
  }

  .sfly-share .sfly-share-email .sfly-share-recipient:hover .sfly-share-recipient-remove {
    color: #fff;
    cursor: pointer;
  }
}

.sfly-share .sfly-share-email .sfly-share-recipient.active {
  background-color: #58595b;
  color: #fff;
}

.sfly-share .sfly-share-email .sfly-share-recipient.active .sfly-share-recipient-remove {
  color: #fff;
}

.sfly-share .sfly-share-email .sfly-share-recipient.error {
  background-color: #fff;
  border-color: #d0021b;
  color: #d0021b;
}

.sfly-share .sfly-share-email .sfly-share-recipient.error .sfly-share-recipient-remove {
  color: #d0021b;
}


.sfly-share .sfly-share-email .sfly-share-email-edit {
  position: absolute;
  left: 0;
  width: 100%;
  height: 70px;
  margin-top: 36px;
  padding: 16px 16px 0 16px;
  background-color: #fff;
  border: 1px solid #929497;
  border-radius: 8px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.11);
}

.sfly-share .sfly-share-email .sfly-share-email-edit:before,
.sfly-share .sfly-share-email .sfly-share-email-edit:after {
  content: ' ';
  position: absolute;
  left: var(--offset-left);
  bottom: 100%;
  width: 0;
  height: 0;
  border: solid transparent;
}

.sfly-share .sfly-share-email .sfly-share-email-edit:before {
  border-color: transparent;
  border-bottom-color: #929497;
  border-width: 11px;
  margin-left: -11px;
}

.sfly-share .sfly-share-email .sfly-share-email-edit:after {
  border-color: transparent;
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.sfly-share .sfly-share-email .sfly-share-edit-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 32px;
}

.sfly-share .sfly-share-email .sfly-share-edit-wrapper .sfly-share-edit-input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  flex-basis: auto;
  flex-grow: 1;
  margin-right: 16px;
  padding: 0 8px;
  border: 1px solid #dcdee1;
  border-radius: 8px;
}

.sfly-share .sfly-share-email .sfly-share-edit-wrapper .sfly-share-edit-input input[type='text'] {
  margin: 0;
  line-height: 18px;
}

.sfly-share .sfly-share-email .sfly-share-edit-wrapper .sfly-share-edit-input.error {
  border-color: #d0021b;
}

.sfly-share .sfly-share-email .sfly-share-edit-wrapper .sfly-share-edit-input.error input[type='text'] {
  color: #d0021b;
}

.sfly-share .sfly-share-email .sfly-share-edit-wrapper .sfly-share-edit-input .sfly-share-edit-clear {
  width: 22px;
  height: 22px;
  font-size: 28px;
  line-height: 20px;
  text-align: center;
  color: #58595b;
  cursor: pointer;
}

.sfly-share .sfly-share-email .sfly-share-button {
  height: 32px !important;
  line-height: 32px !important;
}

.sfly-share .sfly-share-email .sfly-share-edit-error {
  margin: 2px 8px;
  color: #d0021b;
  font-size: 11px;
  line-height: 14px;
  font-weight: lighter;
}


.sfly-share .sfly-share-button {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #58595b;
  white-space: nowrap;
  cursor: pointer;
}

.sfly-share .sfly-share-button.sfly-button-icon {
  font-size: 13px;
  line-height: 18px;
}

@media (hover: hover) {
  .sfly-share .sfly-share-button.sfly-button-icon:hover {
    color: #f05323;
  }

  .sfly-share .sfly-share-button.sfly-button-icon:hover .sfly-share-icon {
    fill: #f05323;
  }
}

.sfly-share .sfly-share-button.sfly-button-icon .sfly-share-icon {
  width: 22px;
  height: 22px;
  margin: 0 8px;
  fill: #58595b;
  fill-rule: evenodd;
}

.sfly-share .sfly-share-button.sfly-button-icon.sfly-share-fb-outline .sfly-share-icon {
  fill: #f9fafc;
  border: 2px solid #58595b;
  background-color: #58595b;
}

@media (hover: hover) {
  .sfly-share .sfly-share-button.sfly-button-icon.sfly-share-fb-outline:hover .sfly-share-icon {
    border-color: #f05323;
    background-color: #f05323;
  }
}

.sfly-share .sfly-share-button.sfly-button-social-facebook,
.sfly-share .sfly-share-button.sfly-button-primary,
.sfly-share .sfly-share-button.sfly-button-secondary {
  width: auto;
  height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.sfly-share .sfly-share-button.sfly-button-social-facebook .sfly-share-icon,
.sfly-share .sfly-share-button.sfly-button-primary .sfly-share-icon,
.sfly-share .sfly-share-button.sfly-button-secondary .sfly-share-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: #fff;
}

@media (min-width: 768px) {
  .sfly-share .sfly-share-button.sfly-button-social-facebook .sfly-share-icon,
  .sfly-share .sfly-share-button.sfly-button-primary .sfly-share-icon,
  .sfly-share .sfly-share-button.sfly-button-secondary .sfly-share-icon {
    display: inline-block;
  }
}

.sfly-share .sfly-share-button.sfly-button-social-facebook {
  color: #fff;
  background-color: #5169a0;
}

@media (hover: hover) {
  .sfly-share .sfly-share-button.sfly-button-social-facebook:not(.button-disabled):hover {
    background-color: #2e4883;
  }
}

.sfly-share .sfly-share-button.sfly-button-social-facebook.sfly-button-disabled {
  opacity: 0.5;
  cursor: default;
}

.sfly-share .sfly-share-button.sfly-button-primary {
  color: #fff;
  background-color: #f05323;
}

.sfly-share .sfly-share-button.sfly-button-primary.sfly-button-disabled {
  background-color: #f6c7b9;
}

.sfly-share .sfly-share-button.sfly-button-secondary {
  background-color: transparent;
  border: 1px solid #929497;
  border-radius: 5px;
}

@media (hover: hover) {
  .sfly-share .sfly-share-button.sfly-button-secondary:not(.sfly-button-disabled):hover {
    border-color: #f05323;
    color: #f05323;
  }
}


.sfly-share .sfly-share-suggestions {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.sfly-share .sfly-share-suggestions .sfly-share-suggestion {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 52px;
  border-bottom: 1px solid #dcdee1;
}

@media (hover: hover) {
  .sfly-share .sfly-share-suggestions .sfly-share-suggestion:hover {
    background-color: #dcdee1;
    cursor: pointer;
  }
}

.sfly-share .sfly-share-suggestions .sfly-share-suggestion .sfly-share-suggestion-avatar {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin: 0 16px;
}

.sfly-share .sfly-share-suggestions .sfly-share-suggestion .sfly-share-suggestion-avatar img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.sfly-share .sfly-share-suggestions .sfly-share-suggestion .sfly-share-suggestion-data {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.sfly-share .sfly-share-suggestions .sfly-share-suggestion .sfly-share-suggestion-name {
  color: #58595b;
  font-size: 16px;
  line-height: 18px;
}

.sfly-share .sfly-share-suggestions .sfly-share-suggestion .sfly-share-suggestion-email {
  color: #929497;
  font-size: 12px;
  line-height: 14px;
}


.sfly-share .sfly-share-email .sfly-share-email-message {
  margin-bottom: 4px;
  width: 100%;
  height: auto;
  min-height: 18px;
  border: none;
  outline: none;
  font-weight: normal;
  color: #58595b;
}

.sfly-share .sfly-share-email .sfly-share-email-message:empty:not(:focus):before {
  content: attr(data-placeholder);
  color: #929497;
}

.sfly-share .sfly-share-email .sfly-share-email-message .sfly-share-email-msg-count {
  float: right;
  height: 16px;
  color: #929497;
  font-size: 12px;
  font-weight: lighter;
  line-height: 16px;
}


.border-outline {
  padding: 40px 0px;
  width: 140px;
  border: 1px solid #c6c7c9;
  display: inline-block;
  height: 140px;
}

.margin-left {
  margin-left: 20px;
}

.view-label {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 10px;
}

.sfly-menu-wrapper {
  display: inline-block;
  width: 40%;
}

.sfly-first-row-element {
  cursor: pointer;
  margin: 30px 0px 0px 0px;
}

.sfly-second-row-element {
  cursor: pointer;
  margin: 0px 0px 0px 40px;
}

@media (max-width: 400px) {
  .border-outline {
    padding: 20px 0px;
    width: 100px;
    border: 1px solid #c6c7c9;
    display: inline-block;
    height: 100px;
  }

  .sfly-first-row-element {
    margin: 30px 0px 0px 0px;
  }
}


.sfly-share-confirmation {
  width: 336px;
  height: 40px;
  padding: 0px 0px 0px 32px !important;
}

.sfly-share-confirmation p {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: justify;
  color: #58595b;
}


.sfly-share .sfly-share-sharingOptions .sfly-share-sharingOptions-subViews {
  display: flex;
  flex-direction: column;
}

.sfly-share .sfly-share-sharingOptions .sfly-share-sharingOptions-subViews .sfly-share-sharingOptions-subview {
  margin-bottom: 16px;
}

.sfly-share .sfly-share-sharingOptions .sfly-share-sharingOptions-subViews .sfly-share-sharingOptions-subview .sfly-share-sharingOptions-header span {
  font-weight: bold;
}

.sfly-share .sfly-share-sharingOptions .sfly-share-sharingOptions-subViews .sfly-share-sharingOptions-subview .sfly-share-sharingOptions-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 10px;
}

.sfly-share .sfly-share-sharingOptions .sfly-share-sharingOptions-subViews .sfly-share-sharingOptions-subview .sfly-share-sharingOptions-content p {
  width: 230px;
  line-height: 18px;
}

.sfly-share .sfly-share-sharingOptions .sfly-share-sharingOptions-subViews .sfly-share-sharingOptions-subview .sfly-share-sharingOptions-content .lock-content {
  margin-top: -5px;
  fill: #58595b;
}

.sfly-share .sfly-share-sharingOptions .sfly-share-sharingOptions-subViews .sfly-share-sharingOptions-subview.share-link .sfly-share-sharingOptions-linkToShare {
  user-select: all;
}

.sfly-share .sfly-share-sharingOptions .sfly-share-sharingOptions-subViews .sfly-share-sharingOptions-subview.share-link .sfly-share-button {
  margin-top: -18px;
}

.sfly-share .sfly-share-sharingOptions .sfly-share-sharingOptions-subViews .sfly-share-sharingOptions-subview.collaborate {
  padding-bottom: 10px;
  border-bottom: 1px solid #dcdee1;
}

.sfly-share .sfly-share-sharingOptions .sfly-share-sharingOptions-subViews .sfly-share-sharingOptions-subview.invitees .sfly-share-button {
  margin-top: -8px;
}

@media (hover: hover) {
  .sfly-share .sfly-share-sharingOptions .sfly-share-sharingOptions-subViews .sfly-share-sharingOptions-subview:not(.disabled) .lock-content:hover {
    fill: #f05323;
    color: #f05323;
    cursor: pointer;
  }
}

.sfly-share .sfly-share-sharingOptions .sfly-share-sharingOptions-subViews .sfly-share-sharingOptions-subview.disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}


.sfly-share .sfly-share-lock {
  display: flex;
  align-items: flex-end;
  font-size: 14px;
}

.sfly-share .sfly-share-lock > svg {
  margin-right: 8px;
  fill: #58595b;
  cursor: pointer;
}

.sfly-share .sfly-share-lock.lock-disabled {
  opacity: 0.5;
  cursor: default;
}



/*# sourceMappingURL=share.css.map*/